{% for snap in snaps %}
{% if snap['time'] %}

<div class="panel panel-default" style='padding: 2em'>
    <div class="panel-heading">
        <h3 class="panel-title">{{ snap['sender'] }}</h3>
    </div>
    <div class="panel-body">
        <a href="/snap/{{ snap['id'] }}">
            {% if snap['media_type'] == 0 %}
                <img width='640' height='1136' src="/snap/{{ snap['id'] }}" alt="Snap from {{ snap['sender'] }}" />
            {% elif snap['media_type'] == 1 %}
                <video width="640" height="1136" controls>
                    <source src="/snap/{{ snap['id'] }}" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <h2>Error: unknown media type</h2>
            {% endif %}
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
